/* color palette from <https://github.com/vuejs/theme> */
:root {
  --turfGreen: #6f8c69;
  --celadonGreen: #88a18b;
  --mossGreen: #9ea48b;
  --forestGreen: #65633a;
  --green: #c8c8a9;
  --brown: #423025;
  --ivory: #f6efeb;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--ivory);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  overflow: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
