@import './base.css';

html, body * {
  scroll-behavior: smooth;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}